/* styles/globals.css */
@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Bold-FD-WOL.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* direction: rtl; */
  font-family: Vazir, sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}